@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #D0BB95;
  --color-background-light: #f7f7f6;
  --color-background-dark: #1d1a15;
  --color-accent-blue: #007AFF;
  --color-accent-green: #30D158;
  --color-accent-purple: #AF52DE;
  --color-text-primary: #1D1D1F;
  --color-text-secondary: #6E6E73;
  --color-border-light: #E5E5EA;

  --font-display: "Inter", sans-serif;

  --shadow-soft: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  --shadow-soft-hover: 0 8px 20px 0 rgba(0, 0, 0, 0.07);
  
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-text-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

/* Custom Prose Overrides for Tiptap Editor */
.prose {
  --tw-prose-bullets: #000000; /* Black bullets */
  --tw-prose-counters: #000000; /* Black numbers */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}